/*Personal Portfolio Project
    Author:Nayeli Zapata Reyes. 
    Date:April 14, 2022.*/
@font-face {
    font-family: 'amaranthregular';
    src: url('amaranth-regular-webfont.woff2') format('woff2'),
         url('amaranth-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#outerwrapper{
    background-color: white;
    width:75%;
    margin: auto;
    text-align: center;   
}

body{
    background-color: rgb(92,171,176);
    font-family: amaranthregular, Arial, Helvetica, sans-serif ;
    font-size: 1em;  
}

.gradient{
   background: linear-gradient(to bottom,  rgb(115,255,222), rgb(92,171,176),white);
    padding: 20px;
    margin: auto ;
    text-align: center;
}

header img{
    float: left;
    border-radius: 40%;
    margin: 0 60px 0 0;
    position: relative;
}

.headerdiv{
    padding-left: 100px;
    margin: 100px;
}

main{
    clear: both;
    margin: auto;  
    padding: 20px;
}

h1{
    text-align:left;
    font-family: 'Shadows Into Light', cursive, Arial, Helvetica, sans-serif;
    font-size: 3em;
    margin: 0 0 0 20px;
}

nav ul{
    list-style-type: none;
}

nav li a{
    display: block;
    padding: 8px;
    border-radius: 15px;
    float: left;
    padding: 10px;
    margin:30px;
    background-color:rgb(92,171,176);
}

nav a:link, nav a:visited {
   text-decoration: none;
   color: white;
}

nav a:hover, nav a:active{
    background-color: #68e6d3;
}

.pinos {
    color: black;
}

footer{ 
    text-align: center;  
    padding: 10px 10px;
    font-size: .90em;
}

footer img{
    margin: auto;
}

#contactinformation{
    border-style:outset ;
    border-width: 1.8px;
    border-color: rgba(255, 255, 255, 0.342);
    padding: 2px;
}

footer a:link {
    color: black;
}

footer a:visited{
    color: white;
}

footer a:hover{
background-color: darkcyan;
}

 
/* contact me*/
ul li{
    list-style: none;
}



/* education*/
fieldset{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding:5px;
    margin: 25px 25%;
    width: 40%;
}

.smallbox{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding:5px;
    margin: 25px 25%;
    width: 52%;
}

input[type=submit]{
    border-style: double;
    border-color: black;
    padding: 10px;
    background: rgb(92,171,176);
    color: white;
    font-size: large;
}

legend{
    font-weight: bold;
    font-size: large;
}





