/************************************************************************
**** MODIFICATION LOG ***
*Original Author: Nayeli Zapata Reyes                                 
*Date Created: 10/1/22.                                      
*Version: 1                                              
*Date Last Modified: 10/1/22.                             
*Modified by:  Nayeli Zapata Reyes.                                         
*Modification log: 
10/1/22 - Create stylesheet for packages page,   
************************************************************************/

/* .ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;} */

label {
    display: inline-block;
    width: 3em;
}

.container, .datePicker{
    padding-top: 10px;
}



