/*Nayeli Zapata Reyes
April 4, 2022.*/

@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}


#outerwrapper {

	width: 70%;
	margin-left: auto;
	margin-right: auto;	
} 
body{
	background-color: #B8D1EB;
	color: #000000;
	font-family: 'Times New Roman', Times, serif;
}
main{
	background-color: #C5A98B;
	padding: 10px;
}

.floatleft { 
float: left;
margin-right: 3%;

}

.floatright {
float: right;
margin-left: 3%;

}

main, footer { 
clear: both;
}

nav ul li{
	list-style: none;
}
h1{
	font-family: 'Righteous', cursive, arial, sans-serif;
	font-size: 2.5em;
}
h2{
font-family: quicksandregular, Arial, Helvetica, sans-serif;
}

main ul li{
	list-style-image: url('../images/tomatoo.png');

}
footer{
	font-size: .75em;
	text-align: center;
	background-color:rgb(146, 143, 98) ;
	padding: 10px 10px;
}


